<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link rel="icon" href="192x192.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gelasio:wght@500;600;700&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
        <nav>
            <div class="logo">
                <h1><a href="#">Eat<span>Now.</span></a></h1>
            </div>
            <ul class="nav-links">
                <li><a href="#/">Home</a></li>
                <li><a href="#/favourite">Favourite</a></li>
                <li><a href="https://github.com/medianosandie" target="_blank">About Us</a></li>
            </ul>
            <button class="hamburger"><img src="../public/images/icons/List.png" alt="hamburger icon"></button>
            <div class="line"></div>
        </nav>
        <div class="hero">
            <ul class="menu">
                <li><a href="#/">Home</a></li>
                <li><a href="#/favourite">Favourite</a></li>
                <li><a href="https://github.com/medianosandie" target="_blank">About Us</a></li>
                <button class="close"><img src="../public/images/icons/X.png" alt="close icon"></button>
            </ul>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, dolor?</h2>
            <img src="../public/images/heros/Rectangle 2.png" alt="hero">
        </div>
    </header>
    <main id="maincontent">
    </main>
    <footer>
        <span>Copyright © 2021 - EatNow.</span>
        <div class="line"></div>
    </footer>
</body>
</html>

